streamlit
streamlit_option_menu
crewai
crewai_tools
langchain_community
pysqlite3-binary
beautifulsoup4
pandas
polyfuzz
Requests
requests-html
lxml_html_clean
google-generativeai
torch
matplotlib
sentence-transformers
scikit-learn
google-auth
google-auth-oauthlib
numpy
google-cloud-storage
python-crfsuite
pythainlp
epitran
pydantic
