beautifulsoup4
pandas
polyfuzz
Requests
streamlit
requests-html
lxml_html_clean
google-generativeai
torch
matplotlib
crewai
crewai_tools
langchain_community
sentence-transformers
scikit-learn
google-auth
google-auth-oauthlib
numpy
scikit-learn
google-cloud-storage
python-crfsuite
pythainlp
epitran
pydantic
