streamlit
pandas
requests
beautifulsoup4
google-generativeai
openai
pythainlp
db-dtypes
google-cloud-bigquery
google-cloud-storage
langchain
langchain_google_genai
langchain-core
langchain-community
langchain-google-vertexai
langchain-openai
pydantic
numpy
matplotlib
crewai
crewai-tools
